.story-write-page {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.story-page-left {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 300px;

  .story-page-left-top {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 8px;
    height: 64px;
    padding: 0 12px;
    overflow: hidden;
  }

  .story-page-left-top__title {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .story-page-left-content {
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }
}

.story-page-center {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.story-page-right {
  width: 200px;
}